.container-student{
    margin-bottom: 20px;
    padding: 40px;
    background-color: whitesmoke;
}

.container-address{
    margin-top: 10px;
}

.ul-nospace li{
    margin: 0;
    padding: 0;
}

section#banner{
    margin-top: 70px;
}
li{
    list-style: none;
}
